.header {
 padding: 15px 0px;
  text-align: center;
  border-bottom: 2px solid rgb(0, 0, 0);
}

.link {
  padding: 10px;
  font-weight: 700;
  font-size: 50px;
  text-decoration: none;
  color: black;
}

.activeLink {
  color: red;
  outline: none;
}
